<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<title>Django Girls's blog</title>
	</head>
	<body>
		<div>
			<hi><a href="">Django Girls Blog</a>
		</div>

		{% for post in posts %}
		<div>
			<p>published: {{ post.published_date }}</p>
			<h1><a href="">{{ post.title }}</a></h1>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
		{% endfor %}

		<div>
			<p>Published: 17.10.2016, 14:40</p>
			<h2><a href="">Internet of Everything</a></h2>
			<p>The Internet has evolved in ways that we could never have imagined. In the beginning, advancements occurred slowly. Today, innovation and communication are happening at a remarkable rate.</p>
			<p>From its humble beginning as the Advanced Research Projects Agency Network (ARPANET) in 1969, where it interconnected a few sites, it is now predicted that the Internet will interconnect 50 billion things by 2020.</p>
			<p>The Internet now provides global connections that make web surfing, social media, and smart mobile devices possible.</p>
		</div>

		<div>
			<p>Published: 17.10.2016, 14:57</p>
			<h2><a href="">Django Workshop</a></h2>
			<p>Have you ever felt that the world is more and more about technology and you are somehow left behind?</p> 
			<p>Have you ever wondered how to create a website but have never had enough motivation to start? Have you ever thought that the software world is too complicated for you to even try doing something on your own?</p>
			<p>Well, we have good news for you! Programming is not as hard as it seems and we want to show you how fun it can be.</p>
			<p>Come and have a great hands-on experience with Django framework and Python in this amazing one day workshop on October 29, 2016 at Livingstone International University courtesy of Django Girls Mbale, Google Developer Group (GDG - Mbale) and powered by Google.</p>
		</div>
		<div>
			{{ posts }}
		</div>
	</body>
</html>